

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Environment variables
.env

# Generated report archive
playwright-report.zip

# Monocart report
/monocart-report/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db